form > input {
  display: block;
  margin: 5px 0;
  padding: 5px 1rem;
}

form > input:focus {
  outline: none;
}

.select_wrapper > label {
  margin-right: 25px;
}

.featured {
  margin: 0;
}

form > button {
  padding: 0.5rem 2rem;
  background-color: rgb(0, 255, 179);
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
