.date_author_flex {
  display: flex;
  align-items: center;
}

.date_author_flex > h3 {
  margin: 0 25px 0 0;
}

.content {
  margin: 0;
}

.title {
  margin-top: 0;
}

.edit {
  padding: 0.5rem 2rem;
  background-color: rgb(43, 216, 0);
  border: none;
  margin-top: 25px;
  color: white;
  cursor: pointer;
}

.delete {
  padding: 0.5rem 2rem;
  background-color: rgb(255, 0, 0);
  border: none;
  margin-top: 25px;
  color: white;
  cursor: pointer;
}

.blog > h4 {
  margin-bottom: 0;
}

.blog {
  margin-bottom: 25px;
  max-width: 350px;
}
